<body>
  <div class="container">
    <div class="title">Booking Registration - CloudBooking</div>
    <div class="content">
      <div action="#" class="div123">
        <div class="user-details">
          <div class="input-box">
            <span name="name" class="details">Full Name</span>
            <input
              type="text"
              placeholder="Enter your name"
              class="form-control"
              [(ngModel)]="bookingObj.name"
              name="name"
            />
          </div>
          <div class="input-box">
            <span name="mobileNo" class="details">Mobile</span>
            <input
              type="number"
              placeholder="Enter your mobile number"
              class="form-control"
              [(ngModel)]="bookingObj.mobileNo"
              name="mobileNo"
            />
          </div>
          <div class="input-box">
            <span name="email" class="details">Email</span>
            <input
              type="email"
              placeholder="Enter your email"
              class="form-control"
              [(ngModel)]="bookingObj.email"
              name="email"
            />
          </div>
          <div class="input-box">
            <span name="nationalIdNumber" class="details"
              >National ID number</span
            >
            <input
              type="number"
              placeholder="Enter your ID number"
              class="form-control"
              [(ngModel)]="bookingObj.nationalIdNumber"
              name="nationalIdNumber"
            />
          </div>
          <div class="input-box">
            <span class="details">City</span>
            <input
              type="text"
              placeholder="Enter your city"
              class="form-control"
              [(ngModel)]="bookingObj.city"
              name="city"
            />
          </div>
          <div class="input-box">
            <span name="address" class="details">Address</span>
            <textarea
              class="form-control"
              [(ngModel)]="bookingObj.address"
              name="address"
            ></textarea>
          </div>
          <div class="input-box">
            <label>Select Room</label>
            <select class="form-control" [(ngModel)]="bookingObj.roomId">
              <option>Select Room</option>
              <option
                name="roomId"
                *ngFor="let room of roomList"
                [value]="room.id"
              >
                {{ room.roomName }} - {{ room.roomTariff }}
              </option>
            </select>
          </div>
          <div class="input-box">
            <label>Payment Method</label>
            <select
              class="form-control"
              name="paymentMethod"
              [(ngModel)]="bookingObj.paymentMethod"
            >
              <option name="cash" value="Cash">Cash</option>
              <option name="card" value="Card">Credit Card</option>
              <option name="cheque" value="Cheque">Cheque</option>
            </select>
          </div>
          <div class="input-box">
            <label>Check-In Date</label>
            <input
              type="datetime-local"
              class="form-control"
              [(ngModel)]="bookingObj.bookingFromDate"
              name="bookingFromDate"
            />
          </div>
          <div class="input-box">
            <label>Check-Out Date</label>
            <input
              type="datetime-local"
              class="form-control"
              [(ngModel)]="bookingObj.bookingToDate"
              name="bookingToDate"
            />
          </div>
          <div class="input-box">
            <label>Booking Extra Details </label>
            <textarea
              class="form-control"
              [(ngModel)]="bookingObj.naration"
              name="naration"
            ></textarea>
          </div>
        </div>

        <div class="button">
          <input
            (click)="createBooking()"
            type="submit"
            value="Register Booking"
            name="register"
          />
        </div>
      </div>
    </div>
  </div>
</body>