<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header text-white">
        <strong>Employee List</strong>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Sr No</th>
              <th scope="col">User Name</th>
              <th scope="col">Password</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cust of userList; let sr = index">
              <td>{{ sr + 1 }}</td>
              <td>{{ cust.userName }}</td>
              <td>{{ cust.password }}</td>
              <td>{{ cust.role }}</td>
              <td>
                <button class="btn btn-sm header1" (click)="onEdit(cust)">
                  Edit
                </button>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="onDelete(cust.userId)"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header header1 text-white">
        <strong>Employee Registration Form</strong>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            [(ngModel)]="userObj.userName"
          />
        </div>
        <div class="form-group">
          <label for="role">Select Role</label>
          <select class="form-control" id="role" [(ngModel)]="userObj.role">
            <option value="Staff">Staff</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="text"
            class="form-control"
            id="password"
            [(ngModel)]="userObj.password"
          />
        </div>
        <div class="text-center">
          <button class="btn header1" (click)="onSaveUser()">Save User</button>
        </div>
      </div>
    </div>
  </div>
</div>
