/* General Styling */
body {
    font-family: "Arial", sans-serif;
    background-color: #f8f9fa;
  }
  
  .container {
    margin-top: 30px;
  }
  
  /* Heading Styling */
  h4 {
    text-align: center;
    color: #343a40;
    margin-bottom: 30px;
  }
  
  /* Form Styling */
  label {
    font-weight: bold;
    color: #495057;
  }
  
  .form-control {
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
  /* Select Styling */
  select.form-control {
    appearance: none;
    border-radius: 5px;
  }
  
  /* Button Styling */
  .btn {
    cursor: pointer;
  }
  
  .black {
    background-color: #000000;
    color: white;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
  }
  
  /* Table Styling */
  .table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
  }
  
  .guestdetails {
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  
  /* Responsive Styling */
  @media (max-width: 767px) {
    .col-3,
    .col-6 {
      margin-bottom: 10px;
    }
  }
  