<body>
    <div class="container">
      <div class="title">Customer Registration - CloudBooking</div>
      <div class="content">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input
                type="text"
                placeholder="Enter your name"
                class="form-control"
                [(ngModel)]="customerObj.name"
                name="name"
              />
            </div>
            <div class="input-box">
              <span class="details">Mobile</span>
              <input
                type="number"
                placeholder="Enter your mobile number"
                class="form-control"
                [(ngModel)]="customerObj.mobileNo"
                name="mobileNo"
              />
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input
                type="email"
                placeholder="Enter your email"
                class="form-control"
                [(ngModel)]="customerObj.email"
                name="email"
              />
            </div>
            <div class="input-box">
              <span class="details">National ID number</span>
              <input
                type="number"
                placeholder="Enter your ID number"
                class="form-control"
                [(ngModel)]="customerObj.nationalIdNumber"
                name="nationalIdNumber"
              />
            </div>
            <div class="input-box">
              <span class="details">City</span>
              <input
                type="text"
                placeholder="Enter your city"
                class="form-control"
                [(ngModel)]="customerObj.city"
                name="city"
              />
            </div>
            <div class="input-box">
              <span>Address </span>
              <textarea
                class="form-control"
                [(ngModel)]="customerObj.address"
                name="address"
              ></textarea>
            </div>
          </div>
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1" />
            <input type="radio" name="gender" id="dot-2" />
            <input type="radio" name="gender" id="dot-3" />
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Male</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Female</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">Prefer not to say</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input
              (click)="createCustomer()"
              type="submit"
              value="Register Customer"
            />
          </div>
        </form>
      </div>
    </div>
  </body>