<div class="container">
    <h4>New Customer</h4>
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-3">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="customerObj.name"
            />
          </div>
          <div class="col-3">
            <label>Phone</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="customerObj.mobileNo"
            />
          </div>
          <div class="col-3">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="customerObj.email"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label>Nationial ID Number</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="customerObj.nationalIdNumber"
            />
          </div>
          <div class="col-3">
            <label>City</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="customerObj.city"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Address </label>
            <textarea
              class="form-control"
              [(ngModel)]="customerObj.address"
            ></textarea>
          </div>
        </div>
      <div class="row pt-3">
        <div class="col-8">
          <button class="btn btn-success" (click)="createCustomer()">
            Create New Customer
          </button>
        </div>
      </div>
    </div>
  </div>
  