body {
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

.responsive-table {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: auto;
}

.header-row,
.body-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.header-cell,
.body-cell {
  flex: 1;
  min-width: 80px; /* Adjust as needed */
  text-align: center;
  padding: 8px;
}

.room-cell {
  flex: 0 0 20%; /* Adjust as needed */
  text-align: left;
  padding: 8px;
}

.booked,
.key-available {
  text-align: center;
}

/* Add your existing .booked and .key-available styles here */

.date {
  text-align: center;
  margin-bottom: 20px;
}

input[type="month"] {
  padding: 8px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.room-cell {
  font-weight: bold;
}

.booked {
  background-color: #000000;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.key-available {
  color: #000000;
}

.fa {
  font-size: 18px;
}
