<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Calendar</title>
    <!-- Include FontAwesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="date">
      <input
        type="month"
        (ngModelChange)="onDateChange($event)"
        [(ngModel)]="selectedDate"
      />
    </div>
    <table>
      <thead>
        <tr>
          <th style="width: 5%"></th>
          <ng-container *ngFor="let day of dayInMonthList">
            <th>{{ day }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let room of allRooms">
          <tr>
            <td class="room-cell">{{ room.roomName }}</td>
            <td *ngFor="let day of dayInMonthList; let i = index">
              <div *ngIf="checkIfBooked(day, room.roomName)" class="booked">
                <i class="fa fa-bed"></i>
              </div>
              <div
                *ngIf="!checkIfBooked(day, room.roomName)"
                class="key-available"
              >
                <i class="fa fa-key"></i>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </body>
</html>
