<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="imglogo">
      <img
        src="https://store-images.s-microsoft.com/image/apps.28471.14139628370441750.28b315c6-e587-4ac5-8b42-4388ed4a2f09.d5ba0d3b-63ca-4d9d-ba00-47fcfa6b02e1"
        alt=""
      />
    </div>
    <a class="navbar-brand home" routerLink="/dashboard">Home</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/newBooking">New Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookings">Booking List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rooms">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/booking-calendar"
            >Booking Calendar</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer">Customers</a>
        </li>
      </ul>
      <form class="d-flex">
        <h6 class="d-none d-lg-block">{{ loggedUserData?.userName }}</h6>
        <button class="btn btn-primary" type="button" (click)="onLogOff()">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
