@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: Poppins, sans-serif;
}

h6 {
  color: white;
  margin-top: 0.35cm;
  margin-right: 0.6cm;
}

img {
  width: 70px;
  border-radius: 10px;
  border: 1px solid #494954;
}

.home {
  padding-left: 0.5cm;
}

.imglogo {
  padding-left: 0.2cm;
}

.mr {
  margin-left: 0.5cm;
}

@media (max-width: 991px) {
  .home {
    padding-left: 0;
  }

  .imglogo{
    padding-left: 0;
  }

  h6 {
    margin-right: 0;
  }
}
