@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #24242c;
}

.container {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to bottom, #010214, #09093b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pic {
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://i.pinimg.com/originals/37/bf/0d/37bf0dfa0aec4b20af9f7216f5973637.jpg");
  background-size: cover;
  background-position: center;
}

.pic2 {
  width: 100%;
  height: 15px;
  position: absolute;
  display: none;
  top: 0;
  background-image: url("https://4kwallpapers.com/images/wallpapers/dark-blue-pink-2560x2560-12661.jpg");
  background-size: cover;
  background-position: center;
}

.inp {
  width: 350px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

label {
  position: absolute;
  left: 20px;
  color: #777780;
  height: 20px;
  transform: translateY(2.5px);
  padding-left: 5px;
  cursor: text;
  padding-right: 5px;
  transition: 0.2s;
}

input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #494954;
  border-radius: 10px;
  outline: none;
  transition: 0.4s;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}

input:focus {
  border: 2px solid #1f1fff;
  box-shadow: #6767ff 0px 1px 1px, #6767ff 0px 0px 0px 1px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  left: 20px;
  transform: translateY(-22px);
  font-size: 12px;
  background-color: #24242c;
}

.up {
  left: 20px;
  transform: translateY(-22px);
  font-size: 12px;
  background-color: #24242c;
}

button {
  width: 350px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: #2020db;
  border: 2px solid #1f1fff;
  border-radius: 50px;
  outline: none;
  transition: 0.4s;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #1717c2;
  border: 2px solid #1717c2;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

a {
  color: #bbbbbb;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 70px;
  border-radius: 10px;
  border: 1px solid #494954;
}

@media only screen and (max-width: 750px) {
  .pic {
    display: none;
  }

  .pic2 {
    display: block;
  }

  .container {
    width: 100%;
  }
}

@media only screen and (max-height: 450px) {
  .pic {
    display: none;
  }

  .container {
    width: 100%;
  }

  body {
    padding-bottom: 10px;
    overflow: scroll;
    height: 100%;
  }
}
