<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr class="tr">
          <th>Booking Number</th>
          <th>Customer Name</th>
          <th>Mobile Nr</th>
          <th>Check In</th>
          <th>Check Out</th>
          <th>Room</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cust of bookingList; let sr = index">
          <td>{{ sr + 1 }}</td>
          <td>
            {{ cust.name }}
          </td>
          <td>
            {{ cust.mobileNo }}
          </td>
          <td>
            {{ cust.bookingFromDate }}
          </td>
          <td>
            {{ cust.bookingToDate }}
          </td>
          <td>
            {{ cust.passengerName }}
          </td>
          <td>
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteBooking(cust.id)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
